*.d
*.o
*.so
*.a
*.swp
.buffer-list.txt
.s2
.s3
.s4
.s5
test/*.app*
test/bitmap_letter
test/cl_fps
test/draw_tex_font
test/font_lines
test/font_map
test/font_perf
test/font_test
test/fps_test
test/howdy
test/lua_sinterp
test/perf_poly_glv
test/render_font_set
test/tf8036_bl
test/tf8036_va
test/tf8036_xt
test/tf_edit
test/write_9x15_font_png
test/test_lua_pcall
test/tlua_reg
util/old
util/*.i
util/lua_sys_func_skipped.txt
gl/old
gl/lua_gl_func_skipped.txt
glfw/old
glfw/lua_glfw_func_skipped.txt
glfw/debug_wrapper
glfw/debug_wrapper.app/
font/lua_tfont_func_skipped.txt
gamelib/libglfw.dylib
demo/res
demo/ud
demo/pwd.lua
img/zlib/example
